[Desktop Entry]
Version=1.0
Name=NVBoost
GenericName=NVidia GPU Manager
Comment=NVidia GPU Manager
Exec=/usr/local/bin/nvboost-gui
StartupNotify=true
Terminal=false
Icon=NVBoost
Type=Application
Categories=Settings;System;
